.form-password-input > label {
  color: #c9c9c9 !important ;
}

.form-password-input {
  display: flex;
  flex-direction: column;
}

.input-with-icon-container {
  position: relative;
  margin-top: 8px;
}

.input-with-icon-container > input {
  width: calc(100% - 20px);
  font-size: 18px;
  padding: 8px;
}

.input-with-icon-container .show-password-icon-container {
  position: absolute;
  right: 16px;
  top: calc(50% - 9px);
  cursor: pointer;
  font-size: 20px;
}

.form-password-input .error-message {
  color: red;
  margin: 10px 0 0;
  font-size: 14px;
  max-width: calc(100% - 20px);
}
